<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W86ZRKFZTC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-W86ZRKFZTC');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PvP Math</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1>PvP Math</h1>
        <p>Start the game, then share the code and join the game. Alternatively, enter a code and then join the game.
        </p>
        <form>
            <div class="mb-3">
                <label for="readOnlyName" class="form-label">Your player name:</label>
                <input id="readOnlyName" type="text" value="{{ player_name }}" name="playerName" readonly
                    class="form-control">
            </div>

            <!-- reCAPTCHA -->
            <div class="mb-3 d-flex justify-content-center">
                <div class="g-recaptcha" data-sitekey="6Ld8qxopAAAAAMEzo6uk2Af4Br38vUaFQR2fGISY"></div>
            </div>



            <button class="btn btn-primary" id="startGame" hx-post="/start" hx-trigger="click"
                hx-target="#challengeCode" hx-swap="outerHTML">Start Game</button>
            <button class="btn btn-secondary" id="joinGame" hx-post="/join" hx-trigger="click"
                hx-target="#waitingSpinner" hx-swap="outerHTML">Join Game</button>

            <div class="form-group mt-3">
                <label for="challengeCode" class="form-label">Enter Challenge Code:</label>
                <input type="text" class="form-control" id="challengeCode" name="challengeCode">
            </div>

            <div id="waitingSpinner" hidden>
                You will be redirected once player 2 joins...
            </div>
        </form>
    </div>

    <!-- Include HTMX library -->
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</body>

</html>